<% provide :title, "よくあるご質問 | Sleepdays" %>
<% provide :description, "Sleepdaysの商品に関するよくあるご質問ページ。" %>
<% provide :og_type, "website" %>
<% provide :og_title, "よくあるご質問 | Sleepdays" %>
<% provide :og_description, "Sleepdaysの商品に関するよくあるご質問ページ。" %>
<% provide :og_url, request.url %>
<% provide :twitter_title, "よくあるご質問 | Sleepdays" %>
<% provide :twitter_description, "Sleepdaysの商品に関するよくあるご質問ページ。" %>
<!-- Wrapper
------------------------------------------>
<div id="wrapper">
  <div class="wrapper_cont">

    <!-- Breadcrumb
    ------------------------------------------>
    <%
      add_breadcrumb "TOP",    root_path
      add_breadcrumb "FAQ", faq_path
    %>
    <!-- End Breadcrumb
    ------------------------------------------>
    <%= render "breadcrumbs" %>

    <!-- Shop List
    ------------------------------------------>
    <div class="bl_s"></div>
    <section class="sect">
      <div class="sect_inner sect_sml">
        <h1 class="heading_nohero fs_8 fw_5 ctr">FAQ</h1>
        <h2 class="heading fs_4 fw_6 ctr">RECOVERY WEAR</h2>
        <ul class="faq_accordion accordion">
          <li class="accordion_item">
            <p class="accordion_item_name fw_5">Q1 : ストッキングや肌着の上に着用してもいいですか？</p>
            <p class="accordion_item_cont">A : 素肌に直接着ていただくことをおすすめしております。</p>
          </li>
          <li class="accordion_item">
            <p class="accordion_item_name fw_5">Q2 : いつ使用するものですか？</p>
            <p class="accordion_item_cont">A : Sleepdaysリカバリーウェアは休息時に着用していただくウェアとして開発しておりますので、休息時、就寝時、運動前後などのリラックスタイムにお使いいただくことをおすすめしております。</p>
          </li>
          <li class="accordion_item">
            <p class="accordion_item_name fw_5">Q3 : 洗濯はどのようにすればいいですか？</p>
            <p class="accordion_item_cont">A : レッグフィット、マルチウェアは手洗い、アイピローは押し洗い（手洗い）でご使用ください。その他の商品はネットに入れてから洗濯機で、40℃以下の温度で非常に弱い洗濯処理でご使用いただけます。漂白剤のご使用、乾燥機のご使用はお避けください。<br>「A.A.TH繊維®」はナノレベルの鉱物を特殊配合しておりますので、通常の洗濯によって効果が落ちることはございません。</p>
          </li>
          <li class="accordion_item">
            <p class="accordion_item_name fw_5">Q4 : 肌が弱いのですが、使っても大丈夫ですか？</p>
            <p class="accordion_item_cont">A : 本商品は素材の安全性は十分に確認しておりますが、他の繊維製品同様にあらゆる肌質・体質の方への刺激がないことを保障するものではございません。<br>お肌の弱い方や、皮膚に異常のある方、アレルギー体質の方などは十分にご注意の上、ご使用ください。</p>
          </li>
        </ul>
      </div>
    </section>

    <div class="bl_m"></div>
    <section class="sect bg_g">
      <div class="sect_inner sect_sml">
        <h2 class="heading fs_4 fw_6 ctr">Bathtime Drink Before & After | RECOVERY AMENITY</h2>
        <ul class="faq_accordion accordion">
          <li class="accordion_item">
            <p class="accordion_item_name fw_5">Q1 : いつ飲むものですか？</p>
            <p class="accordion_item_cont">A : 「Before」は入浴前に、「After」は入浴後にお召し上がりいただくことをおすすめしております。</p>
          </li>
          <li class="accordion_item">
            <p class="accordion_item_name fw_5">Q2 : どのような味ですか？</p>
            <p class="accordion_item_cont">A : 「Before」はリンゴ酢ジンジャー風味、「After」はグレープフルーツ風味です。</p>
          </li>
          <li class="accordion_item">
            <p class="accordion_item_name fw_5">Q3 : 別々に飲んでも大丈夫ですか？</p>
            <p class="accordion_item_cont">A : 未開封で、賞味期限内であれば、別々の日にお召し上がりいただいても問題ございません。成分の特性上、入浴のタイミングに合わせて、前後にお召し上がりいただくことをおすすめいたします。</p>
          </li>
          <li class="accordion_item">
            <p class="accordion_item_name fw_5">Q4 : 妊娠中に飲んでも大丈夫ですか？</p>
            <p class="accordion_item_cont">A : ハーブ由来の成分などを使用していますのでおすすめしておりません。ご利用になりたい方は、かかりつけの医師にご相談ください。</p>
          </li>
          <li class="accordion_item">
            <p class="accordion_item_name fw_5">Q5 : 食物アレルギーがあるのですが、飲んでも大丈夫ですか？</p>
            <p class="accordion_item_cont">A : 食物アレルギーのある方は原材料名をご確認の上お召し上がりください。ご心配な場合は、かかりつけの医師にご相談ください。</p>
          </li>
        </ul>
      </div>
    </section>

    <section class="sect">
      <div class="sect_inner sect_sml">
        <h2 class="heading fs_4 fw_6 ctr">Recovery Room Aroma Mist | RECOVERY AMENITY</h2>
        <ul class="faq_accordion accordion">
          <li class="accordion_item">
            <p class="accordion_item_name fw_5">Q1 : 原料の原産地はどこですか？</p>
            <p class="accordion_item_cont">A : オーストラリアを中心に、 成分組成・品質・香りを重視してその時その時によって 最適な原料を選んでおります。また、抽出部分や抽出方法を限らず、 精油に不純物が少なく、質の高い成分が多く含まれている原料を選んでおります。</p>
          </li>
          <li class="accordion_item">
            <p class="accordion_item_name fw_5">Q2 : 布製品に使用してもいいですか？</p>
            <p class="accordion_item_cont">A : ルームミストですので、空間にご使用ください。精油などの油分がシミになる恐れがございますので、布製品にご使用になりたい場合は、自己責任の上、予め目立たない場所でお試しの上お使いください。</p>
          </li>
          <li class="accordion_item">
            <p class="accordion_item_name fw_5">Q3 : 人の身体や顔に使用してもいいですか？</p>
            <p class="accordion_item_cont">A : ルームミストですので、空間にご使用ください。</p>
          </li>
          <li class="accordion_item">
            <p class="accordion_item_name fw_5">Q4 : 香水の様に香りに変化はありますか？</p>
            <p class="accordion_item_cont">A : アロマミストですので、香水の様な複雑な変化はございません。 【ラベンダー＆スイートオレンジ】 トップ：オレンジ ミドル・ベース：ラベンダー 【ピンクグレープフルーツ＆セージ】 トップ：ピンクグレープフルーツ ミドル・ベース：セージ</p>
          </li>
          <li class="accordion_item">
            <p class="accordion_item_name fw_5">Q5 : 加湿器や、アロマディフューザーに使っても大丈夫？</p>
            <p class="accordion_item_cont">A : ルームミストですので、加湿器やアロマディフューザーでお使いいただくと香りが弱くなります。 おすすめはしておりませんが、お使いになられる場合はお手持ちの機器の説明書をご覧になり、 自己責任の上適切な使い方でお使いください。</p>
          </li>
          <li class="accordion_item">
            <p class="accordion_item_name fw_5">Q6 : 妊娠中に使っても大丈夫ですか？</p>
            <p class="accordion_item_cont">A : 注意が必要な濃度ではございませんが、 ご心配な場合はかかりつけの医師にご相談ください。</p>
          </li>
        </ul>
      </div>
    </section>
    <!-- End Shop List
    ------------------------------------------>

    <%= render "buy_now" %>
    <%= render "column_news" %>
  </div>
</div>
<!-- End Wrapper
------------------------------------------>
