<% provide :title, "プライバシーポリシー | Sleepdays" %>
<% provide :description, "Sleepdaysのプライバシーポリシーページです。お客様情報のお取り扱い方法についてご紹介しています。" %>
<% provide :og_type, "website" %>
<% provide :og_title, "プライバシーポリシー | Sleepdays" %>
<% provide :og_description, "Sleepdaysのプライバシーポリシーページです。お客様情報のお取り扱い方法についてご紹介しています。" %>
<% provide :og_url, request.url %>
<% provide :twitter_title, "プライバシーポリシー | Sleepdays" %>
<% provide :twitter_description, "Sleepdaysのプライバシーポリシーページです。お客様情報のお取り扱い方法についてご紹介しています。" %>
<!-- Wrapper
------------------------------------------>
<div id="wrapper">
  <div class="wrapper_cont">

    <!-- Breadcrumb
    ------------------------------------------>
    <%
      add_breadcrumb "TOP",    root_path
      add_breadcrumb "PRIVACYPOLICY", privacypolicy_path
    %>
    <!-- End Breadcrumb
    ------------------------------------------>
    <%= render "breadcrumbs" %>

    <!-- Contact Form
    ------------------------------------------>
    <div class="bl_s"></div>
    <section class="sect">
      <div class="sect_inner sect_sml ctr">
        <h1 class="heading_nohero fs_8 fw_5">PRIVACY POLICY</h1>
        <p class="nohero_cont">個人情報の取扱について<br>株式会社 Sleepdays（以下、「当社」といいます）は、当社が提供する「Sleepdays」に関するすべてのサービス（以下、「本サービス」といいます）におけるお客様（以下、「ユーザー」といいます）の情報を以下の通り取り扱います。</p>
      </div>
      <div class="sect_inner sect_sml">
        <ul class="privacy_accordion accordion">
          <li class="accordion_item">
            <p class="accordion_item_name fw_5">当社が取得する情報</p>
            <p class="accordion_item_cont">当社は本サービスにおいて次のような情報を取得します。<br><br>(1) 氏名、メールアドレス等のユーザー情報<br>アカウントの作成にあたり、当社は、ユーザーから、氏名、メールアドレス、ログインパスワード、性別、年齢その他一定の情報の提供を取得します。また、当社は、ユーザーがFacebookまたはTwitter等の第三者が提供するソーシャルネットワーキングサービスと連携させて本サービスにアクセスする場合、ユーザーの許諾の内容にしたがって、上記に加え、性別、年齢、興味のある対象、地域やそのFacebook内の友人関係、Facebook内で「いいね！」しているものに関する情報なども入手します。<br><br>(2)
              コメント等のアクション情報
              <br>当社は、ユーザーが本サービスを利用するにあたって、ユーザーのアクションに応じ、コメントや写真、シェアなどの情報、その他のユーザーのアクションにチェックした興味範囲に関する情報をその日時とともに取得します。また、当社は、ユーザーの本サービスの利用にあたり、ユーザーの許諾の内容にしたがって、FacebookまたはTwitter等の第三者が提供するソーシャルネットワーキングサービス上の情報も取得します。<br><br>(3) サービス利用情報<br>端末情報 : 当社は、ユーザーが利用される機器情報（OS、端末の個体識別情報、コンピュータ名等）を取得する場合があります。<br>ログ情報
              : ユーザーが本サービスを利用した際にIPアドレス、ブラウザ種類、ブラウザ言語等の情報が自動で生成、保存されます。また、当社は、CookieやJavaScriptなどの技術を利用し、ユーザーの行動履歴を取得することがあります。</p>
          </li>
          <li class="accordion_item">
            <p class="accordion_item_name fw_5">当社Webサイトの運営について</p>
            <p class="accordion_item_cont">当社サイトでは、ユーザーが当社Webサイトを再度訪問されたときなどに、より便利に閲覧して頂けるよう「クッキー(Cookie)」という技術を使用することがあります。これにより、ユーザー本人のコンピュータが当社Webサイトのどのページを訪れたか記録されますが、ユーザー本人が当社Webサイトにおいて自身の個人情報を入力されない限り、ユーザー本人を特定、識別することはできません。<br>ユーザーがクッキーの使用を希望しない場合は、ユーザーが本人のブラウザの設定を変更することにより、クッキーの使用を拒否することができます。但し、その場合、一部または全部のサービスがご利用できなくなることがあります。</p>
          </li>
          <li class="accordion_item">
            <p class="accordion_item_name fw_5">情報の利用目的</p>
            <p class="accordion_item_cont">当社は取得した個人情報を以下の目的で利用いたします。<br><br>(1) フォローする候補者の推薦<br>(2) ユーザーごとにカスタマイズされたコンテンツの提供<br>(3) 不正利用防止<br>(4) ユーザーによる本サービスの円滑な利用<br>(5) 本サービス利用に関する統計データの作成<br>(6) 現在提供している本サービスまたは今後提供を検討している本サービスに関するアンケート実施<br>(7) ユーザーからのお問い合わせに対する対応<br>(8) 本サービスに関する情報等または当社以外の事業者が広告主となる広告情報等の告知<br>(9)
              今後の本サービスに関する新企画立案及び提供
              <br>(10) 当社が運営する別サービスの企画立案、開発、運営<br>(11) キャンペーン等の抽選及び賞品や商品発送<br>(12) ユーザーからのお問い合わせ等の際の本人確認<br>(13) ユーザーが当社の別サービスの利用を申込む場合における当該サービスにおけるアカウント作成<br>(14) その他本サービスに関する重要なお知らせ等、必要に応じた連絡</p>
          </li>
          <li class="accordion_item">
            <p class="accordion_item_name fw_5">当社が運営する別サービスのアカウント作成に際して</p>
            <p class="accordion_item_cont">ユーザーが本サービスとは別の当社が運営するサービスの利用を受ける場合、当該サービスにおいてユーザーがアカウントを作成するのに必要な限度で、当社はユーザー情報を利用する場合があります。</p>
          </li>
          <li class="accordion_item">
            <p class="accordion_item_name fw_5">情報の提供</p>
            <p class="accordion_item_cont">当社はユーザーの個人情報を下記の場合を除いて第三者に提供することはしません。<br><br>(1) 本人が事前に同意した場合。<br>(2) 法令に基づく場合<br>(3) ユーザーが本サービスの利用規約に違反し、当社の権利、財産やサービス等を保護するために、個人情報を公開せざるをえないと判断するに足る十分な根拠がある場合。<br>(4) 人の生命、身体または財産の保護のために必要がある場合であって、本人の同意を得ることが困難である場合。<br>(5) 公衆衛生の向上または児童の健全な育成の推進のために特に必要がある場合であって、本人の同意を得ることが困難である場合。<br>(6)
              国の機関もしくは地方公共団体またはその委託を受けた者が法令の定める事務を遂行することに対して協力する必要がある場合であって、本人の同意を得ることにより当該事務の遂行に支障を及ぼすおそれがある場合。
              <br>(7) 合併、会社分割、営業譲渡その他の事由によって個人情報の提供を含む当社の事業の承継が行われる場合。<br>(8) サービスの品質を向上する目的で、業務委託先に情報の管理及び分析を委託する場合。<br>(9) 本サービスで広告情報を配信することを目的に、当社の提携先に広告の配信を委託する場合。<br>この場合、開示される情報の種類と当社の提携先については以下の通りです：<br><br>提携先に広告配信を委託している場合で、本サービスが別途提携先に許諾した場合には、ユーザーが本サービスを訪問した事実その他本サービスが限定する範囲で、提携先がユーザーのcookie情報を取得することがあります。そこで収集されたcookie情報は当社に提供・開示されることなく、提携先が定めるプライバシーの考え方について管理・利用されることになります。また、提携先から配信される広告には、当該提携先が本サービス以外のサイトで収集した行動履歴等を利用した行動ターゲティング広告が含まれます。提携先によるこのような行動ターゲティング広告の配信を無効にしたい場合は、次に記載する各社のオプトアウトページにアクセスし、手順に従って行ってください。<br><br>グーグル株式会社<br>https://support.google.com/ads/answer/2662922?hl=ja</p>
          </li>
          <li class="accordion_item">
            <p class="accordion_item_name fw_5">情報の安全管理</p>
            <p class="accordion_item_cont">当社は、取得する個人情報等に関して、漏洩、滅失または毀損の防止、その他安全管理のために必要かつ適切な措置を講じます。</p>
          </li>
          <li class="accordion_item">
            <p class="accordion_item_name fw_5">情報の委託</p>
            <p class="accordion_item_cont">当社は利用目的の達成に必要な範囲内においてユーザーから取得した個人情報の全部または一部を業務委託先に委託することがあります。その際、業務委託先としての適格性を十分審査するとともに、契約にあたって守秘義務に関する事項等を規定し、情報が適正に管理される体制作りを行います。</p>
          </li>
          <li class="accordion_item">
            <p class="accordion_item_name fw_5">情報の共同利用</p>
            <p class="accordion_item_cont">本サービスを提供するにあたり、当社と共同して業務を行うビジネスパートナーが必要な場合には、ユーザーの個人情報をそのビジネスパートナーと共同利用することがあります。この場合に当社は、利用目的、ビジネスパートナーの名称、情報の種類、管理者の名称についてユーザーに公表した上で共同利用することとします。</p>
          </li>
          <li class="accordion_item">
            <p class="accordion_item_name fw_5">本プライバシーポリシーの改定</p>
            <p class="accordion_item_cont">本プライバシーポリシーの内容は変更されることがあります。変更後のプライバシーポリシーについては、当ウェブサイトに掲載した時から効力を生じるものとします。</p>
          </li>
          <li class="accordion_item">
            <p class="accordion_item_name fw_5">お問い合わせ</p>
            <p class="accordion_item_cont">当社は、本プライバシーポリシーに関する不明点、個人情報等に関する苦情および相談について、以下の窓口で対応します。<br><br>相談窓口 : info@sleepdays.jp<br>個人情報保護管理者の所属及び連絡先 : 株式会社 Sleepdays<br>TEL : 0120-994-533<br><br>個人情報の開示・訂正・利用停止等の手続<br>ユーザー本人が、当社が保有するユーザー自身の個人情報の、利用目的の通知、開示、内容の訂正、追加又は削除、利用の停止、消去及び第三者への提供の停止を求める場合には、以下の「個人情報お問合せ窓口」までご連絡ください。<br><br>株式会社
              Sleepdays
              <br>個人情報お問い合わせ窓口<br>Email : info@sleepdays.jp</p>
          </li>
          <li class="accordion_item">
            <p class="accordion_item_name fw_5">同意がない場合について</p>
            <p class="accordion_item_cont">個人情報の提供に関してユーザーから同意を頂けない場合には、第2項の利用目的が達成できないことになりますので、その旨予めご了承ください。</p>
          </li>
        </ul>
      </div>
    </section>
    <!-- End Contact Form
    ------------------------------------------>
    <%= render "buy_now" %>
    <%= render "column_news" %>
  </div>
</div>
<!-- End Wrapper
------------------------------------------>
