<!-- Section Buy Now
------------------------------------------>
<div class="bl_l"></div>
<section class="common_buy">
  <div class="buy_cont">
    <a class="btn_buy" href="/products">BUY NOW</a>
  </div>
</section>
<!-- End Section Buy Now
------------------------------------------>
