<ul class="common_column row">
  <li class="common_column_item_col">
    <a href="/articles/514">
      <div class="column_img" style="background-image: url(<%= asset_path "hero_buy01.jpg" %>)"></div>
      <p class="column_heading">Sleepdaysで体全体をリカバリー</p>
    </a>
  </li>

  <li class="common_column_item_col">
    <a href="/articles/515">
      <div class="column_img" style="background-image: url(<%= Rails.public_path + '/images/articles/515/3.jpg' %>)"></div>
      <p class="column_heading">Sleepdaysの素材へのこだわり</p>
    </a>
  </li>
</ul>
