<!-- Section Column & News
------------------------------------------>
<div class="bl_m"></div>
<section class="sect">
  <div class="sect_inner sect_sml">
    <p class="common_info_deco ctr">Support you to lead a better life.</p>
    <div class="common_info solo">
      <div class="common_news_col">
        <h4 class="heading fs_4 fw_6">NEWS</h4>
        <%= render "news_contents" %>
        <a class="btn_arrow btn_more" href="/news">SEE MORE</a>
      </div>
    </div>
  </div>
</section>
<!-- End Section Column & News
------------------------------------------>
