<!-- Novelties
------------------------------------------>
<div class="bl_m"></div>
<section class="sect">
  <div class="sect_inner ctr">
    <h3 class="heading fs_8 fw_5">NOVELTIES</h3>
    <ul class="product_all row row_ctr">
      <li class="product_all_col">
        <a href="/products/recovery-leg-fit">
          <div class="product_all_img">
            <%= image_tag("/images/products/rlf/product_rlf01.png", alt: "Recovery Leg Fit") %>
          </div>
          <p class="heading fs_5 fw_4">Recovery Leg Fit</p>
          <span class="product_memo">疲れがちなふくらはぎを集中リカバリー</span>
          <span class="btn_arrow btn_more">View details</span>
        </a>
      </li>
      <li class="product_all_col">
        <a href="/products/recovery-leggings">
          <div class="product_all_img">
            <%= image_tag("/images/products/rl/product_rl01.png", alt: "Recovery Leggings") %>
          </div>
          <p class="heading fs_5 fw_4">Recovery Leggings</p>
          <span class="product_memo">巡りを良くして下半身の冷えなどをリカバリー</span>
          <span class="btn_arrow btn_more">View details</span>
        </a>
      </li>
    </ul>
  </div>
</section>
<!-- End Novelties
------------------------------------------>
